<% provide(:title, 'Contacts') %>



<h1 class="center color" style="color:#51a351 ">Контакты</h1>

<div class="color size">
	<p>Урочище "Черепаха"</p>
	<p>г. Таганрог, Новый 17-й переулок, д.5</p>	

</div>

<div class="color size">
тел. 8 908 508 48 12
	<p>
	<%= link_to "http://vk.com/les_cherepaha",'http://vk.com/les_cherepaha'%> </p> 
    


</div>