<% provide(:title, '') %>



<h1 class="center color" style="color:#1D9242 ">Вместе сделаем лес чистым!</h1>

<div class="color size" style ="text-indent: 40px; align: justify;">

<small>Каждый из нас хочет, чтобы Таганрог был чище и зеленей. Урочище «Черепаха»-это прекрасный природный уголок нашего родного города, которому сейчас требуется  помощь.
<p>Мы приглашаем всех неравнодушных принять участие в городской праздничной акции  по уборке мусора, которая состоиться 

<h2 class="center color" style="color:#da4f49"> <strong>26 апреля в 12:00 в урочище «Черепаха».</strong></h2>
<p>
	<p>Это будет не просто субботник, а веселое мероприятие, на котором Вас ожидает <strong style="color:#49afcd">эко-зарядка</strong>, <strong style="color:#5bb">концерт</strong>, <strong style="color:#faa732">живой зоопарк</strong>, <strong style="color:#006dcc">конкурсы</strong>, <strong style="color:#993366">выставка рисунков</strong>, и конечно-же <strong style="color:#da4e49">подарки!</strong><p>
<p>Давайте проведем выходные с удовольствием и принесем пользу природе!<p>

	
</div>

