<% provide(:title, 'Konkursy') %>

<h1 class="center color" style="color:#993366 ">Конкурс детских рисунков</h1>

<div class="color size">
<p style ="text-indent: 40px;">
Друзья, в рамках  праздника "Вместе сделаем лес чистым!" пройдет  выставка-конкурс детских  рисунков на тему:
	<h2 class="center color" style="color:#309744"> <strong>"Здоровье планеты в наших руках"</strong></h2>

<p style ="text-indent: 40px;">Для участия в конкурсе необходимо:</p>
<p class="center"> <small>

	<li>До 24 апреля принести рисунок во Дворец Молодежи, ул. Петровская, 107.</li></small></p>
<p class="center"> <small><li>Указать информацию об авторе: имя, 
	фамилия, возраст, адрес и телефон.</li></small></p>
	<p> </p>
<p style =" margin-top: 1em;">Итоги будут подведены 26 апреля в 12:00 в Урочище "Черепаха".</p>

<p>С нетерпением ждем ваших работ.</p>
</p>
</p>
</div>

