<% provide(:title, 'Photo') %>
<h1 class="center color" style="color:#49afcd" >Парк сегодня</h1>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



 <small></small>
 
   

<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
 <div class="modal-header">
 <a class="close" data-dismiss="modal">&times;</a>
 <h3 class="modal-title"></h3>
 </div>
 <div class="modal-body"><div class="modal-image"></div></div>
 <div class="modal-footer">
 <a class="btn modal-prev"><i class="icon-arrow-left icon-white"></i> Сюда</a>
 <a class="btn modal-next">Туда <i class="icon-arrow-right icon-white"></i></a>
 <a class="btn btn-danger modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Слайдшоу</a>
 <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Скачать</a>
 </div>
</div>
<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
<ul class="thumbnails">
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0319.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0319.JPG" alt="">

 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0320.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0320.JPG" alt=""></a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0321.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0321.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
<a href="../../assets/IMG_0322.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0322.JPG" alt=""></a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0323.JPG"data-gallery="gallery">
 <img src="../../assets/IMG_0323.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0324.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0324.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0325.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0325.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0326.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0326.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0327.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0327.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0328.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0328.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0329.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0329.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0330.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0330.JPG" alt="">
 </a>
 </div>
 </li>
  <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0331.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0331.JPG" alt="">
 </a>
 </div>
 </li>
  <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0332.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0332.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0333.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0333.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0334.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0334.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0335.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0335.JPG" alt="">
 </a>
 </div>
 </li>
  <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0336.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0336.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0337.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0337.JPG" alt="">
 </a>
 </div>
 </li>
  <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0339.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0339.JPG" alt="">
 </a>
 </div>
 </li>
<li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0340.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0340.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0343.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0343.JPG" alt="">
 </a>
 </div>
 </li>
 <li class="span2">
 <div class="thumbnail">
 <a href="../../assets/IMG_0342.JPG" data-gallery="gallery">
 <img src="../../assets/IMG_0342.JPG" alt="">
 </a>
 </div>
 </li>



</ul>
</div>